Repository Projecte-UrbanTree/application, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Projecte-UrbanTree/coordinacio, @Projecte-UrbanTree/arquitectes-de-software, @Projecte-UrbanTree/professorat, @Projecte-UrbanTree/testers-de-qualitat, @Projecte-UrbanTree/alumnat, @Projecte-UrbanTree/correctors-ortografics, @Projecte-UrbanTree/especialistes-multimedia

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/arquitectes-de-software
/.git* @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/professorat
/.vscode @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/testers-de-qualitat

/app/ @Projecte-UrbanTree/alumnat
/database/ @Projecte-UrbanTree/alumnat
/lang/ @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/correctors-ortografics
/public/ @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/arquitectes-de-software @Projecte-UrbanTree/especialistes-multimedia
/resources/ @Projecte-UrbanTree/alumnat
/resources/images/ @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/arquitectes-de-software @Projecte-UrbanTree/especialistes-multimedia
/routes/ @Projecte-UrbanTree/alumnat
/tests/ @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/arquitectes-de-software @Projecte-UrbanTree/testers-de-qualitat
*.md @Projecte-UrbanTree/coordinacio @Projecte-UrbanTree/correctors-ortografics

fix(routes): replace AdminLayoutWrapper with AdminLayout in contract duplication route
  resources/ts/routes/AdminRoutes.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: clean up unused imports and improve code formatting in controllers and services
  app/Http/Controllers/Api/Admin/ContractController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Services/ContractDuplicationService.php
  resources/ts/AppRoutes.tsx
  resources/ts/components/ErrorBoundary.tsx
Owners: @Projecte-UrbanTree/alumnat

fix: incidents
  resources/ts/components/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/store/slice/incidentSlice.ts
  resources/ts/store/store.ts
Owners: @Projecte-UrbanTree/alumnat

fix: create element
  app/Http/Controllers/Api/Admin/ElementController.php
  resources/ts/components/Admin/Inventory/SaveElementForm.tsx
Owners: @Projecte-UrbanTree/alumnat

fix: map
  resources/ts/api/service/mapService.ts
  resources/ts/components/Map.tsx
Owners: @Projecte-UrbanTree/alumnat

feat: redirect geolocalitzacion for the contract zones
  resources/ts/api/service/mapService.ts
  resources/ts/components/Map.tsx
Owners: @Projecte-UrbanTree/alumnat

Revert "feat: redirect geolocalitzacion for the contract zones"
  resources/ts/api/service/mapService.ts
  resources/ts/components/Map.tsx
Owners: @Projecte-UrbanTree/alumnat

docs: add PHPDoc comments for methods and classes in controllers and services
  app/Http/Controllers/Api/Admin/AccountController.php
  app/Http/Controllers/Api/Admin/ContractController.php
  app/Http/Controllers/Api/Admin/ContractUserController.php
  app/Http/Controllers/Api/Admin/ElementController.php
  app/Http/Controllers/Api/Admin/ElementTypeController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/IncidentsController.php
  app/Http/Controllers/Api/Admin/PointController.php
  app/Http/Controllers/Api/Admin/ResourceController.php
  app/Http/Controllers/Api/Admin/ResourceTypeController.php
  app/Http/Controllers/Api/Admin/StatisticsController.php
  app/Http/Controllers/Api/Admin/TaskTypeController.php
  app/Http/Controllers/Api/Admin/TreeTypeController.php
  app/Http/Controllers/Api/Admin/UserController.php
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Http/Controllers/Api/Admin/WorkReportController.php
  app/Http/Controllers/Api/Admin/ZoneController.php
  app/Http/Controllers/Api/AuthController.php
  app/Http/Controllers/Api/ContractController.php
  app/Http/Controllers/Controller.php
  app/Http/Controllers/LandingController.php
  app/Http/Controllers/LangController.php
  app/Services/ContractDuplicationService.php
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unused request classes for Eva and resource management
  app/Http/Requests/EvaRequest.php
  app/Http/Requests/StoreResourceRequest.php
  app/Http/Requests/UpdateResourceRequest.php
Owners: @Projecte-UrbanTree/alumnat

docs: add PHPDoc comments for models to improve code documentation
  app/Models/ElementType.php
  app/Models/Eva.php
  app/Models/LandingForm.php
  app/Models/Point.php
  app/Models/Resource.php
  app/Models/ResourceType.php
  app/Models/Sensor.php
  app/Models/TaskType.php
  app/Models/TreeType.php
  app/Models/User.php
  app/Models/WorkOrder.php
  app/Models/WorkOrderBlock.php
  app/Models/WorkOrderBlockTask.php
  app/Models/WorkOrderBlockZone.php
  app/Models/WorkOrderUser.php
  app/Models/WorkReport.php
  app/Models/Zone.php
Owners: @Projecte-UrbanTree/alumnat

docs: add PHPDoc comments for models to enhance code documentation
  app/Models/Contract.php
  app/Models/Element.php
  app/Models/ElementType.php
  app/Models/Incidence.php
Owners: @Projecte-UrbanTree/alumnat

refactor: update migration classes to use modern syntax
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/migrations/2025_01_29_163918_create_personal_access_tokens_table.php
  database/migrations/2025_01_29_182058_create_photos_table.php
  database/migrations/2025_01_29_182631_create_contracts_table.php
  database/migrations/2025_01_29_182947_create_tree_types_table.php
  database/migrations/2025_01_29_183220_create_task_types_table.php
  database/migrations/2025_01_29_183333_create_element_types_table.php
  database/migrations/2025_01_29_183721_create_zones_table.php
  database/migrations/2025_01_29_183930_create_points_table.php
  database/migrations/2025_01_29_184050_create_elements_table.php
  database/migrations/2025_01_29_184338_create_incidents_table.php
  database/migrations/2025_01_29_184451_create_work_orders_table.php
  database/migrations/2025_01_29_184554_create_work_order_users_table.php
  database/migrations/2025_01_29_184704_create_work_order_blocks_table.php
  database/migrations/2025_01_29_185034_create_work_order_block_zones_table.php
  database/migrations/2025_01_29_185212_create_work_order_block_tasks_table.php
  database/migrations/2025_01_29_185332_create_work_report_table.php
  database/migrations/2025_01_29_185546_create_resource_types_table.php
  database/migrations/2025_01_29_185609_create_resources_table.php
  database/migrations/2025_01_29_185643_create_work_report_resources_table.php
  database/migrations/2025_01_29_185721_create_sensors_table.php
  database/migrations/2025_02_04_174010_create_landing_form_table.php
  database/migrations/2025_03_11_154020_create_eva_table.php
  database/migrations/2025_03_17_233056_create_contract_user_table.php
Owners: @Projecte-UrbanTree/alumnat

refactor: remove trailing whitespace in seeders and routes, and reorganize use statements in tests
  database/seeders/ContractSeeder.php
  database/seeders/WorkOrderSeeder.php
  routes/api.php
  tests/Feature/Admin/AccountTest.php
  tests/Feature/AuthTest.php
Owners: @Projecte-UrbanTree/alumnat, @Projecte-UrbanTree/coordinacio, @Projecte-UrbanTree/arquitectes-de-software, @Projecte-UrbanTree/testers-de-qualitat

feat: add WorkerController for managing workers assigned to contracts
  app/Http/Controllers/Api/Admin/WorkerController.php
  routes/api.php
Owners: @Projecte-UrbanTree/alumnat

fix: styles zones
  resources/ts/api/service/mapService.ts
  resources/ts/components/Map.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unused React import in AppRoutes
  resources/ts/AppRoutes.tsx
Owners: @Projecte-UrbanTree/alumnat

feat: enhance styling by adding Primereact theme and customizing progress spinner color
  resources/css/app.css
Owners: @Projecte-UrbanTree/alumnat

refactor: remove ErrorBoundary component as it is no longer needed
  resources/ts/components/ErrorBoundary.tsx
Owners: @Projecte-UrbanTree/alumnat

fix: update translation strings for workers management in English, Spanish, and Catalan
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Workers.tsx
Owners: @Projecte-UrbanTree/alumnat

feat: rename pages and components, refactor imports for consistency
  resources/ts/components/CrudPanel.tsx
  resources/ts/components/Map.tsx
  resources/ts/components/Preloader.tsx
  resources/ts/pages/Admin/Account.tsx
  resources/ts/pages/Admin/Dashboard/Components/DashboardSummary.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Dashboard/Components/Welcome.tsx
  resources/ts/pages/Admin/Dashboard/Index.tsx
  resources/ts/pages/Admin/Eva/Components/FormField.tsx
  resources/ts/pages/Admin/Eva/Components/FuncionesEva.tsx
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
  resources/ts/pages/Admin/Inventory/ElementComponent.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/IncidentForm.tsx
  resources/ts/pages/Admin/Inventory/Index.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/pages/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
  resources/ts/pages/Admin/Settings/Contracts/Index.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Index.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Resources/Index.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Users/Index.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/pages/Admin/Workers.tsx
  resources/ts/pages/Login/Components/LoginForm.tsx
  resources/ts/pages/Login/Index.tsx
  resources/ts/routes/AdminRoutes.tsx
  resources/ts/routes/AuthRoutes.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: convert function components to default exports for consistency
  resources/ts/pages/Admin/Dashboard/Components/DashboardSummary.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Dashboard/Components/Welcome.tsx
  resources/ts/pages/Admin/Dashboard/Index.tsx
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Resources/Create.tsx
  resources/ts/pages/Admin/Resources/Edit.tsx
  resources/ts/pages/Admin/Resources/Index.tsx
  resources/ts/pages/Admin/Settings/Contracts/Index.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Index.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Resources/Index.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Users/Index.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/routes/AdminRoutes.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: refactor cruds, revamp eva and minor changes
  package-lock.json
  package.json
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Eva/Components/FormField.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Resources/Create.tsx
  resources/ts/pages/Admin/Resources/Edit.tsx
  resources/ts/pages/Admin/Resources/Index.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/Contracts/Edit.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/Users/Create.tsx
  resources/ts/pages/Admin/Settings/Users/Edit.tsx
  resources/ts/pages/Admin/WorkOrders/Create.tsx
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
  resources/ts/utils/treeEvaluation.ts
Owners: @Projecte-UrbanTree/coordinacio, @Projecte-UrbanTree/arquitectes-de-software, @Projecte-UrbanTree/alumnat

style: update styles for consistency across components
  resources/ts/components/CrudPanel.tsx
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/layouts/AuthLayout.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Dashboard/Index.tsx
  resources/ts/pages/Admin/Inventory/ElementComponent.tsx
  resources/ts/pages/Admin/Statistics.tsx
  resources/ts/pages/Admin/WorkOrders/Create.tsx
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/pages/Admin/Workers.tsx
Owners: @Projecte-UrbanTree/alumnat

fix: remove padding from CrudPanel component for layout consistency
  resources/ts/components/CrudPanel.tsx
Owners: @Projecte-UrbanTree/alumnat

fix: update Badge severity from warning to success in Contracts component
  resources/ts/pages/Admin/Settings/Contracts/Index.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unused seeders for work orders and reports
  database/seeders/DatabaseSeeder.php
  database/seeders/WorkOrderBlockSeeder.php
  database/seeders/WorkOrderBlockTaskSeeder.php
  database/seeders/WorkOrderBlockZoneSeeder.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkOrderUserSeeder.php
  database/seeders/WorkReportResourceSeeder.php
  database/seeders/WorkReportSeeder.php
Owners: @Projecte-UrbanTree/alumnat

fix: update workReports relationship from belongsTo to hasMany in WorkOrder model
  app/Models/WorkOrder.php
Owners: @Projecte-UrbanTree/alumnat

refactor: reorder translation strings for organized structure
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
Owners: @Projecte-UrbanTree/alumnat

refactor: remove details column from Evas component for cleaner layout
  resources/ts/pages/Admin/Eva/Index.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: remove WorkReport and WorkOrder types, consolidate into WorkOrders type
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Http/Controllers/Api/Admin/WorkReportController.php
  resources/ts/api/service/workOrder.ts
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/types/WorkOrder.ts
  resources/ts/types/WorkOrders.ts
  resources/ts/types/WorkReport.ts
  routes/api.php
Owners: @Projecte-UrbanTree/alumnat

refactor: update title in TreeTypes component for consistency
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
Owners: @Projecte-UrbanTree/alumnat

feat: add create buttons to empty states in various admin pages
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Resources/Index.tsx
  resources/ts/pages/Admin/Settings/Contracts/Index.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Users/Index.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: update translation strings and improve delete confirmation messages in admin settings, fix treetypes crud
  resources/ts/config/i18n/ca.json
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Index.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: enhance zone ID extraction logic in WorkOrderController for improved data handling
  app/Http/Controllers/Api/Admin/WorkOrderController.php
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unnecessary finally blocks and ensure state updates in error handling
  resources/ts/pages/Admin/Dashboard/Components/DashboardSummary.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/IncidentForm.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/pages/Admin/Resources/Create.tsx
  resources/ts/pages/Admin/Resources/Edit.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/Contracts/DuplicateContractForm.tsx
  resources/ts/pages/Admin/Settings/Contracts/Edit.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ElementTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Create.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Index.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Edit.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Index.tsx
  resources/ts/pages/Admin/Settings/Users/Create.tsx
  resources/ts/pages/Admin/Settings/Users/Edit.tsx
  resources/ts/pages/Admin/Statistics.tsx
  resources/ts/pages/Admin/WorkOrders/Create.tsx
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/pages/Admin/Workers.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unnecessary comments and clean up code in various components
  resources/ts/pages/Admin/Dashboard/Components/DashboardSummary.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TaskTypes/Create.tsx
  resources/ts/pages/Admin/Settings/TreeTypes/Create.tsx
  resources/ts/pages/Admin/Settings/Users/Create.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: remove unused header component in InProgressWorkOrders for cleaner code
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: improve type definitions and error handling in various components
  resources/ts/pages/Admin/Statistics.tsx
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/pages/Admin/Workers.tsx
Owners: @Projecte-UrbanTree/alumnat

refactor: enhance type definitions and error handling across various components
  resources/ts/components/FunctionsEva.tsx
  resources/ts/components/Map.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/types/ElementType.ts
  resources/ts/types/TreeTypes.ts
  resources/ts/types/WorkOrders.ts
Owners: @Projecte-UrbanTree/alumnat

refactor: update validation rules in IncidentsController to include name and element_id fields
  app/Http/Controllers/Api/Admin/IncidentsController.php
Owners: @Projecte-UrbanTree/alumnat
