Repository Projecte-UrbanTree/application, pull requests merged in 2025-05, with the labels that each got.

#380 feat: map for worker
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/PointController.php
  app/Http/Middleware/RoleMiddleware.php
  app/Models/Point.php
  app/Models/User.php
  resources/ts/api/service/elementService.ts
  resources/ts/api/service/elementTypeService.ts
  resources/ts/api/service/incidentService.ts
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/pointService.ts
  resources/ts/api/service/treeTypesService.ts
  resources/ts/api/service/workerService.ts
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Map.tsx
  resources/ts/hooks/useMapInitialization.ts
  resources/ts/layouts/WorkerLayout.tsx
  resources/ts/middlewares/UnauthenticatedRoute.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
  resources/ts/pages/Worker/InventoryWorker.tsx
  resources/ts/routes/WorkerRoutes.tsx
  resources/ts/store/slice/contractSlice.ts
  resources/ts/store/slice/workerSlice.ts
  resources/ts/store/store.ts
  resources/ts/types/User.ts
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/models, area/controllers

#383 feat: enhance element deletion process by removing associated incident
  app/Http/Controllers/Api/Admin/ElementController.php
  resources/ts/components/Map.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
Labels: kind/bug, area/javascript, area/controllers

#375 refactor: sensorhistory-endpoint
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Http/Controllers/Api/Admin/SensorHistoryController.php
  resources/ts/api/sensors.ts
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Sensor/Index.tsx
  resources/ts/pages/Admin/Sensor/Show.tsx
  routes/api.php
Labels: kind/bug, area/routes, area/javascript, area/controllers

#385 Fix(sensorhistory): metrics available
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Sensor/Index.tsx
  resources/ts/pages/Admin/Sensor/Show.tsx
Labels: kind/bug, area/javascript

#365 feat(tests): add unit tests for useAuth hook and configure Vitest
  .github/workflows/laravel.yml
  package-lock.json
  package.json
  resources/ts/components/Preloader.test.tsx
  resources/ts/hooks/useAuth.test.ts
  resources/ts/hooks/useAuth.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Labels: kind/feature, kind/dependencies, area/javascript
