Repository Projecte-UrbanTree/application, pull requests merged in 2025-03, with the labels that each got.

#199 Feat/tree types
  app/Http/Controllers/Api/Admin/TreeTypeController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Tree Types/Create.tsx
  resources/ts/pages/Admin/Settings/Tree Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Tree Types/TreeTypes.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#205 Refactor(lang) :lang structure and the views
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Tree Types/Create.tsx
  resources/ts/pages/Admin/Settings/Tree Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Tree Types/TreeTypes.tsx
  resources/ts/pages/Admin/Settings/Users/Create.tsx
  resources/ts/pages/Admin/Settings/Users/Edit.tsx
  resources/ts/pages/Admin/Settings/Users/Users.tsx
Labels: kind/improvement, area/javascript

#202 feat: add resource types views
  app/Http/Controllers/Api/Admin/ResourceTypeController.php
  app/Models/ResourceType.php
  database/seeders/ResourceTypeSeeder.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Resource Types/Create.tsx
  resources/ts/pages/Admin/Settings/Resource Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Resource Types/ResourceTypes.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, area/routes, area/javascript, area/models, area/controllers

#198 Add CRUD functionality for task types
  app/Http/Controllers/Api/Admin/TaskTypeController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Task Types/Create.tsx
  resources/ts/pages/Admin/Settings/Task Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Task Types/TaskTypes.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#186 Implement user authentication with Redux and refactor authentication handling
  .vscode/settings.json
  package-lock.json
  package.json
  resources/ts/App.tsx
  resources/ts/AppRoutes.tsx
  resources/ts/components/Admin/Dashboard/AdminDashboardWrapper.tsx
  resources/ts/components/Login/LoginForm.tsx
  resources/ts/contexts/AuthContext.tsx
  resources/ts/hooks/useAuth.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/main.tsx
  resources/ts/middlewares/AdminProtectedRoute.tsx
  resources/ts/middlewares/UnauthenticatedRoute.tsx
  resources/ts/pages/Login.tsx
  resources/ts/routes/AdminRoutes.tsx
  resources/ts/store/slice/contractSlice.ts
  resources/ts/store/slice/userSlice.ts
  resources/ts/store/store.ts
  resources/ts/types/contract.ts
  resources/ts/types/user.ts
  tsconfig.json
Labels: kind/feature, kind/dependencies, area/javascript

#215 fix: translations for resource types
  app/Http/Controllers/Api/Admin/ResourceTypeController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Resource Types/Create.tsx
  resources/ts/pages/Admin/Settings/Resource Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Resource Types/ResourceTypes.tsx
Labels: kind/feature, area/javascript, area/controllers

#218 fix: update validation regex to allow spaces in tree type fields
  resources/ts/pages/Admin/Settings/Tree Types/Create.tsx
  resources/ts/pages/Admin/Settings/Tree Types/Edit.tsx
Labels: kind/improvement, area/javascript

#203 feat(contracts): Implement CRUD operations and routes for contract ma…
  app/Http/Controllers/Api/Admin/ContractController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Contracts/Contracts.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/Contracts/Edit.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#217 refactor: contract retrieval methods and fix error message punctuation
  app/Http/Controllers/Api/Admin/ContractController.php
  resources/ts/components/Admin/Dashboard/AdminDashboardWrapper.tsx
  resources/ts/hooks/useAuth.ts
  resources/ts/hooks/useContracts.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Inventory.tsx
  resources/ts/store/slice/contractSlice.ts
  resources/ts/types/contract.ts
Labels: kind/feature, area/javascript, area/controllers

#223 Implement CRUD operations for contracts in ContractController
  app/Http/Controllers/Api/Admin/ContractController.php
Labels: kind/bug, area/controllers

#221 refactor(admin-layout): center management and settings links in the admin layout
  resources/ts/layouts/AdminLayout.tsx
Labels: kind/improvement, area/javascript

#227 chore(ci): update Laravel workflow to include Pint formatting and aut…
  .github/workflows/laravel-pint.yml
Labels: kind/improvement

#229 feat(eva): add EVA management section with migration and seeder
  database/migrations/2025_03_11_154020_create_eva_table.php
  database/seeders/EvaSeeder.php
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Eva.tsx
Labels: area/database, kind/feature, area/javascript

#234 Feat: work orders controllers and views
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Models/WorkOrder.php
  app/Models/WorkOrderBlock.php
  database/migrations/2025_01_29_184554_create_work_order_users_table.php
  database/seeders/ElementTypesSeeder.php
  database/seeders/TaskTypesSeeder.php
  database/seeders/UserSeeder.php
  database/seeders/WorkOrderBlockSeeder.php
  database/seeders/WorkOrderBlockTaskSeeder.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkReportSeeder.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/pages/Admin/Settings/Users/Create.tsx
  resources/ts/pages/Admin/WorkOrders.tsx
  resources/ts/pages/Admin/WorkOrders/Create.tsx
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
  resources/ts/pages/Admin/WorkOrders/WorkOrders.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, area/routes, area/javascript, area/models, area/controllers

#238 feat(i18n): add translation for "eva" in Catalan, English, and Spanish
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
Labels: kind/bug, area/javascript

#240 feat(contracts): refactor status display logic in Contracts component
  resources/ts/pages/Admin/Settings/Contracts/Contracts.tsx
Labels: kind/improvement, area/javascript

#242 feat(ci): update SSH port in production deployment workflow
  .github/workflows/deploy-production.yml
Labels: kind/feature

#243 Feat: ssh port
  .github/workflows/deploy-production.yml
Labels: kind/feature

#244 feat(ci): update deployment workflow to use password authentication w…
  .github/workflows/deploy-production.yml
Labels: kind/feature

#245 feat: add statistics page
  app/Http/Controllers/Api/Admin/StatisticsController.php
  app/Http/Controllers/Api/Admin/StatsController.php
  database/seeders/WorkOrderBlockSeeder.php
  database/seeders/WorkOrderBlockTaskSeeder.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkReportSeeder.php
  package-lock.json
  package.json
  resources/ts/config/i18n/en.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Statistics.tsx
  resources/ts/pages/Admin/Stats.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, kind/dependencies, area/routes, area/javascript, area/controllers

#251 feat: update workflow permissions
  .github/workflows/deploy-production.yml
Labels: kind/feature

#254 chore: exclude additional files from production deployment
  .github/workflows/deploy-production.yml
Labels: kind/improvement

#255 chore: streamline production deployment workflow and add server setup…
  .github/workflows/deploy-production.yml
Labels: kind/improvement

#258 chore: update deployment workflow to use SSH password for commands
  .github/workflows/deploy-production.yml
Labels: kind/bug

#210 feat(element-types): make crud
  app/Http/Controllers/Api/Admin/ElementTypeController.php
  database/migrations/2025_01_29_184338_create_incidents_table.php
  database/seeders/ElementTypesSeeder.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Element Types/Create.tsx
  resources/ts/pages/Admin/Settings/Element Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Element Types/ElementTypes.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, area/routes, area/javascript, area/controllers

#264 fix: streamline deployment script
  .github/workflows/deploy-production.yml
Labels: kind/bug

#266 Fix: workorder contracts
  .github/workflows/deploy-production.yml
  resources/ts/pages/Admin/WorkOrders/WorkOrders.tsx
Labels: kind/bug, area/javascript

#262 feat: enhance admin routing with improved navigation and loading states
  resources/ts/middlewares/AdminProtectedRoute.tsx
  resources/ts/routes/AdminRoutes.tsx
Labels: kind/feature, area/javascript

#271 feat: add contract_id to User model and migration, update UserSeeder
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/seeders/UserSeeder.php
Labels: area/database, kind/feature, area/models

#273 feat: add contract filtering to work orders and update related components
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/WorkOrders/Create.tsx
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
  resources/ts/pages/Admin/WorkOrders/WorkOrders.tsx
Labels: area/database, kind/feature, area/javascript, area/controllers

#246 feat(account): add account settings page and API endpoints
  app/Http/Controllers/Api/Admin/AccountController.php
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Account/Account.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#265 Implement CRUD functionality for Eva model
  .env.example
  app/Http/Controllers/Api/Admin/ElementController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/PointController.php
  app/Http/Controllers/Api/Admin/ZoneController.php
  app/Http/Requests/EvaRequest.php
  app/Models/Element.php
  app/Models/Eva.php
  config/dictionaries.php
  database/migrations/2025_03_11_154020_create_eva_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/EvaSeeder.php
  resources/ts/components/FormField.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Eva.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Eva/Eva.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, area/routes, area/javascript, area/models, area/controllers

#283 fix(auth): remove unnecessary dependency from useEffect in useAuth hook
  resources/ts/hooks/useAuth.ts
Labels: kind/bug, area/javascript

#233 Implement Mapbox on the inventory page
  app/Http/Controllers/Api/Admin/PointController.php
  app/Http/Controllers/Api/Admin/ZoneController.php
  app/Http/Controllers/ElementController.php
  database/migrations/2025_01_29_183930_create_points_table.php
  package-lock.json
  package.json
  resources/ts/api/axiosClient.ts
  resources/ts/api/service/elementService.ts
  resources/ts/api/service/elementTypeService.ts
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/pointService.ts
  resources/ts/api/service/treeTypesService.ts
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Admin/Dashboard/AdminDashboardWrapper.tsx
  resources/ts/components/Admin/Inventory/SaveElementForm.tsx
  resources/ts/components/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/components/Admin/Inventory/Zones.tsx
  resources/ts/components/LoaderProvider.tsx
  resources/ts/components/Map.tsx
  resources/ts/components/Preloader.tsx
  resources/ts/hooks/useGeolocation.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/main.tsx
  resources/ts/pages/Admin/Inventory.tsx
  resources/ts/store/slice/elementSlice.ts
  resources/ts/store/slice/loaderSlice.ts
  resources/ts/store/slice/pointSlice.ts
  resources/ts/store/slice/zoneSlice.ts
  resources/ts/store/store.ts
  resources/ts/types/Element.ts
  resources/ts/types/ElementType.ts
  resources/ts/types/Point.ts
  resources/ts/types/Role.ts
  resources/ts/types/TreeTypes.ts
  resources/ts/types/User.ts
  resources/ts/types/Zone.ts
  routes/api.php
Labels: area/database, kind/feature, kind/dependencies, area/routes, area/javascript, area/controllers

#284 refactor(hooks): optimize fetchContracts with useCallback for better performance
  resources/ts/hooks/useContracts.ts
Labels: kind/bug, area/javascript

#285 refactor(auth): optimize fetchUser with useCallback and remove unnece…
  resources/ts/hooks/useAuth.ts
  resources/ts/layouts/AdminLayout.tsx
Labels: kind/bug, area/javascript

#292 feat: add ContractUserController and pivot table for user assignments
  app/Http/Controllers/Api/Admin/ContractUserController.php
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Models/Contract.php
  app/Models/User.php
  app/Observers/UserObserver.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_03_17_233056_create_contract_user_table.php
  database/seeders/ContractUserSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  resources/ts/pages/Admin/WorkOrders/Edit.tsx
Labels: area/database, kind/feature, area/javascript, area/models, area/controllers

#295 style: adjust contract button width and clean up main layout structure
  resources/ts/layouts/AdminLayout.tsx
Labels: kind/improvement, area/javascript

#296 fix(i18n): correct key name from "eva" to "evas" in English translations
  resources/ts/config/i18n/en.json
  resources/ts/pages/Admin/Eva/Show.tsx
  resources/ts/routes/AdminRoutes.tsx
Labels: kind/improvement, area/javascript

#298 Add unit cost and unit name fields to resources model and forms
  app/Http/Controllers/Api/Admin/ResourceController.php
  app/Http/Requests/StoreResourceRequest.php
  app/Http/Requests/UpdateResourceRequest.php
  app/Models/Resource.php
  database/migrations/2025_03_24_155555_add_columns_to_resources.php
  database/seeders/ResourceSeeder.php
  resources/ts/config/i18n/en.json
  resources/ts/pages/Admin/Settings/Resources/Create.tsx
  resources/ts/pages/Admin/Settings/Resources/Edit.tsx
  resources/ts/pages/Admin/Settings/Resources/Resources.tsx
  resources/ts/types/Resource.ts
Labels: area/database, kind/improvement, area/javascript, area/models, area/controllers

#300 feat(Resources): filter resources by current contract
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Resources/Resources.tsx
  resources/ts/types/Resource.ts
Labels: kind/feature, area/javascript

#302 fix: translations
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/es.json
Labels: kind/bug, area/javascript
