Repository Projecte-UrbanTree/application, pull requests merged in 2025-04, with the labels that each got.

#311 Feat/admin layout/implement contract polling and update dropdown options
  resources/ts/layouts/AdminLayout.tsx
Labels: kind/feature, area/javascript

#314 Feat: workorder disable edit
  resources/ts/pages/Admin/WorkOrders/WorkOrders.tsx
Labels: kind/feature, area/javascript

#315 Add status update functionality for work orders and enhance work report validation
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Http/Controllers/Api/Admin/WorkReportController.php
  resources/ts/pages/Admin/WorkReport.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#289 refactor(eva): improve styles
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
Labels: kind/feature, area/javascript

#321 fix: standardize variable naming for EVA attributes
  resources/ts/components/FuncionesEva.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Eva/Eva.tsx
  resources/ts/pages/Admin/Eva/Show.tsx
Labels: kind/bug, area/javascript

#319 Update WorkReport model relationships and seeder data
  app/Http/Controllers/Api/Admin/StatisticsController.php
  app/Http/Controllers/Api/Admin/WorkReportController.php
  app/Models/WorkReport.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkReportResourceSeeder.php
  database/seeders/WorkReportSeeder.php
  resources/ts/config/i18n/en.json
  resources/ts/pages/Admin/Statistics.tsx
Labels: area/database, kind/feature, area/javascript, area/models, area/controllers

#320 Feat/final-map-impl
  app/Http/Controllers/Api/Admin/IncidentsController.php
  app/Http/Controllers/ElementController.php
  app/Models/WorkOrder.php
  resources/ts/api/service/workOrder.ts
  resources/ts/components/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/components/Admin/Inventory/SaveElementForm.tsx
  resources/ts/components/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/components/Admin/Inventory/Zones.tsx
  resources/ts/components/Map.tsx
  resources/ts/store/slice/elementSlice.ts
  resources/ts/types/Contract.ts
  resources/ts/types/User.ts
  resources/ts/types/WorkOrder.ts
  resources/ts/types/Zone.ts
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/models, area/controllers

#326 feat: enhance UserFactory and add admin role functionality; implement tests.
  database/factories/UserFactory.php
  tests/Feature/Admin/AccountTest.php
  tests/Feature/AuthTest.php
  tests/Feature/ExampleTest.php
  tests/Unit/.gitkeep
  tests/Unit/ExampleTest.php
Labels: area/database, kind/feature, area/tests

#324 fix: update translation key for icon labels in CreateElementType comp…
  resources/ts/pages/Admin/Settings/Element Types/Create.tsx
Labels: kind/bug, area/javascript

#327 Feat/final-map-implementation
  app/Http/Controllers/Api/Admin/ElementController.php
  app/Http/Controllers/Api/Admin/StatisticsController.php
  app/Http/Controllers/ElementController.php
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/workReportService.ts
  resources/ts/components/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/components/Admin/Inventory/IncidentForm.tsx
  resources/ts/components/Admin/Inventory/SaveElementForm.tsx
  resources/ts/components/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/components/Admin/Inventory/Zones.tsx
  resources/ts/components/Map.tsx
  resources/ts/hooks/useAuth.ts
  resources/ts/hooks/useContracts.ts
  resources/ts/pages/Admin/Inventory.tsx
  resources/ts/store/slice/zoneSlice.ts
  resources/ts/types/Element.ts
  resources/ts/types/WorkOrder.ts
  resources/ts/types/WorkReport.ts
  tests/Feature/Admin/AccountTest.php
  tests/Feature/AuthTest.php
Labels: kind/feature, area/tests, area/javascript, area/controllers

#330 feat(contract-workers): assign workers to contract
  app/Http/Controllers/Api/Admin/ContractUserController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Workers.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#325 feat(inventory): include eva on the map
  app/Http/Controllers/Api/Admin/EvaController.php
  resources/ts/components/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/components/FuncionesEva.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Sensor/Sensors.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#329 fix(contracts): final price and start and end date bug
  app/Http/Controllers/Api/Admin/ContractController.php
  resources/ts/pages/Admin/Settings/Contracts/Contracts.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/Contracts/Edit.tsx
Labels: kind/bug, area/javascript, area/controllers

#332 Feat/seed
  database/seeders/ContractSeeder.php
  database/seeders/IncidentSeeder.php
  database/seeders/PointSeeder.php
  database/seeders/ResourceTypeSeeder.php
  database/seeders/TaskTypesSeeder.php
  database/seeders/UserSeeder.php
  database/seeders/ZoneSeeder.php
Labels: area/database, kind/feature

#334 Feat: add duplication contract
  app/Http/Controllers/Api/Admin/ContractController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Models/Contract.php
  app/Services/ContractDuplicationService.php
  resources/ts/AppRoutes.tsx
  resources/ts/components/ErrorBoundary.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Settings/Contracts/Contracts.tsx
  resources/ts/pages/Admin/Settings/Contracts/DuplicateContractForm.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/models, area/controllers

#335 Fix: bugs in map
  app/Http/Controllers/Api/Admin/ElementController.php
  resources/ts/api/service/mapService.ts
  resources/ts/components/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/components/Admin/Inventory/SaveElementForm.tsx
  resources/ts/components/Map.tsx
  resources/ts/store/slice/incidentSlice.ts
  resources/ts/store/store.ts
Labels: kind/bug, area/javascript, area/controllers

#339 Feat: workers
  app/Http/Controllers/Api/Admin/WorkReportController.php
  app/Http/Controllers/Api/Worker/IndexController.php
  app/Http/Controllers/Api/Worker/ResourceController.php
  app/Models/User.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/WorkerLayout.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/pages/Worker/Dashboard.tsx
  resources/ts/pages/Worker/Index.tsx
  resources/ts/routes/WorkerRoutes.tsx
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/models, area/controllers

#338 Feat/sensors
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Models/Sensor.php
  database/migrations/2025_01_29_185721_create_sensors_table.php
  database/seeders/SensorSeeder.php
  package-lock.json
  package.json
  resources/ts/api/sensors.ts
  resources/ts/components/SensorsList.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Eva/Create.tsx
  resources/ts/pages/Admin/Eva/Edit.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Sensor/Create.tsx
  resources/ts/pages/Admin/Sensor/Edit.tsx
  resources/ts/pages/Admin/Sensor/Index.tsx
  resources/ts/pages/Admin/Sensor/Sensors.tsx
  resources/ts/pages/Admin/Sensor/Show.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: area/database, kind/feature, kind/dependencies, area/routes, area/javascript, area/models, area/controllers

#345 refactor: account and new tokens section
  app/Http/Controllers/Api/Admin/AccountController.php
  app/Http/Controllers/Api/AuthController.php
  bootstrap/app.php
  resources/ts/api/axiosClient.ts
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/hooks/useContracts.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Account.tsx
  routes/api.php
  tests/Feature/AuthTest.php
Labels: area/routes, area/tests, kind/improvement, area/javascript, area/controllers

#344 Feat: Center location by contract
  app/Http/Controllers/Api/Admin/AccountController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/PointController.php
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Http/Controllers/Api/Worker/IndexController.php
  app/Http/Controllers/Api/Worker/ResourceController.php
  app/Models/User.php
  bootstrap/app.php
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Map.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
  resources/ts/types/Zone.ts
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/models, area/controllers

#346 Add getCenterZoom endpoint and integrate with map services
  app/Http/Controllers/Api/Admin/ZoneController.php
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Map.tsx
  resources/ts/types/Zone.ts
  routes/api.php
Labels: kind/feature, area/routes, area/javascript, area/controllers

#348 Revert "Add getCenterZoom endpoint and integrate with map services"
  app/Http/Controllers/Api/Admin/ZoneController.php
  resources/ts/api/service/mapService.ts
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Map.tsx
  resources/ts/types/Zone.ts
  routes/api.php
Labels: area/routes, area/javascript, area/controllers

#347 feat/Add License page and update internationalization files
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/License.tsx
  resources/ts/routes/AdminRoutes.tsx
Labels: kind/feature, area/javascript

#349 Feat/landing/add pricing section with plans and features in multiple languages
  lang/ca/landing.php
  lang/en/landing.php
  lang/es/landing.php
  public/images/logos/logo.png
  resources/views/landing.blade.php
Labels: kind/feature, area/views, area/i18n

#352 fix: map bugs
  resources/ts/components/Map.tsx
  resources/ts/hooks/useMapInitialization.ts
  resources/ts/pages/Admin/Inventory/Index.tsx
  resources/ts/types/ZoneEvent.ts
Labels: kind/bug, area/javascript

#353 fix: improve event subscription handling in MapComponent
  resources/ts/components/Map.tsx
Labels: kind/bug, area/javascript

#355 refactor: enchance styles of map
  resources/ts/api/service/mapService.ts
  resources/ts/components/Map.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Inventory/EditElementForm.tsx
  resources/ts/pages/Admin/Inventory/ElementComponent.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/IncidentForm.tsx
  resources/ts/pages/Admin/Inventory/Index.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/pages/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
Labels: kind/improvement, area/javascript

#354 Improve work report handling and display
  app/Http/Controllers/Api/Admin/ZoneController.php
  app/Http/Controllers/Api/Worker/IndexController.php
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/WorkOrders/Index.tsx
  resources/ts/pages/Worker/Index.tsx
  resources/ts/types/WorkOrders.ts
Labels: kind/bug, area/javascript, area/controllers

#356 Fix/general-translations
  resources/ts/components/Map.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Inventory/EditElementForm.tsx
  resources/ts/pages/Admin/Inventory/ElementComponent.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/IncidentForm.tsx
  resources/ts/pages/Admin/Inventory/Index.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/pages/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
Labels: kind/bug, area/javascript

#358 Feat(tests) add model, factory, and tests for admin management
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/ResourceController.php
  app/Models/Contract.php
  app/Models/Element.php
  app/Models/ElementType.php
  app/Models/Eva.php
  app/Models/Point.php
  app/Models/Resource.php
  app/Models/TaskType.php
  app/Models/TreeType.php
  app/Models/User.php
  app/Models/Zone.php
  database/factories/ContractFactory.php
  database/factories/ElementFactory.php
  database/factories/ElementTypeFactory.php
  database/factories/EvaFactory.php
  database/factories/PointFactory.php
  database/factories/ResourceFactory.php
  database/factories/ResourceTypeFactory.php
  database/factories/TaskTypeFactory.php
  database/factories/TreeTypeFactory.php
  database/factories/ZoneFactory.php
  tests/Feature/Admin/ContractTest.php
  tests/Feature/Admin/ElementTest.php
  tests/Feature/Admin/ElementTypeTest.php
  tests/Feature/Admin/EvaTest.php
  tests/Feature/Admin/PointTest.php
  tests/Feature/Admin/ResourceTest.php
  tests/Feature/Admin/ResourceTypeTest.php
  tests/Feature/Admin/TaskTypeTest.php
  tests/Feature/Admin/TreeTypeTest.php
  tests/Feature/Admin/UserTest.php
  tests/Feature/Admin/ZoneTest.php
Labels: area/database, area/tests, area/models, area/controllers

#359 refactor: a lot of changes on map, layout and logout
  app/Http/Controllers/Api/Admin/ElementController.php
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/ZoneController.php
  resources/ts/api/service/zoneService.ts
  resources/ts/components/Map.tsx
  resources/ts/components/Preloader.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/hooks/useAuth.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Dashboard/Components/InProgressWorkOrders.tsx
  resources/ts/pages/Admin/Dashboard/Index.tsx
  resources/ts/pages/Admin/Inventory/EditElementForm.tsx
  resources/ts/pages/Admin/Inventory/ElementComponent.tsx
  resources/ts/pages/Admin/Inventory/ElementDetailPopup.tsx
  resources/ts/pages/Admin/Inventory/IncidentForm.tsx
  resources/ts/pages/Admin/Inventory/Index.tsx
  resources/ts/pages/Admin/Inventory/SaveElementForm.tsx
  resources/ts/pages/Admin/Inventory/SaveZoneForm.tsx
  resources/ts/pages/Admin/Inventory/Zones.tsx
  resources/ts/pages/Logout.tsx
  routes/api.php
Labels: area/routes, kind/improvement, area/javascript, area/controllers

#350 Refactor/fetch-sensors-backend
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Http/Controllers/Api/Admin/SensorHistoryController.php
  app/Http/Controllers/Api/Admin/WorkReportController.php
  app/Models/SensorHistory.php
  database/migrations/2025_04_08_182915_create_sensor_history.php
  database/seeders/SensorSeeder.php
  resources/ts/api/sensors.ts
  resources/ts/components/SensorsList.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/pages/Admin/Sensor/Create.tsx
  resources/ts/pages/Admin/Sensor/Index.tsx
  resources/ts/pages/Admin/Sensor/Show.tsx
  resources/ts/pages/Admin/Settings/Contracts/DuplicateContractForm.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
  tests/Feature/Admin/ElementTest.php
Labels: area/database, area/routes, area/tests, kind/improvement, area/javascript, area/models, area/controllers

#368 fix: update api url
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Http/Controllers/Api/Admin/SensorHistoryController.php
Labels: kind/bug, area/controllers

#369 feat: tour
  .env.example
  app/Http/Controllers/Api/Admin/EvaController.php
  app/Http/Controllers/Api/Admin/SensorController.php
  app/Models/Sensor.php
  package-lock.json
  package.json
  resources/ts/api/service/mapService.ts
  resources/ts/components/Tour.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Eva/Index.tsx
  resources/ts/pages/Admin/Sensor/Index.tsx
  resources/ts/pages/Admin/WorkReport.tsx
  resources/ts/pages/Login/Components/LoginForm.tsx
Labels: kind/feature, kind/dependencies, area/javascript, area/models, area/controllers
