Repository Projecte-UrbanTree/application, pull requests merged in 2025-01, with the labels that each got.

#8 chore: update dependencies and improve project configuration
  package-lock.json
Labels: kind/dependencies

#14 feat: implement API authentication with Laravel Sanctum
  app/Http/Controllers/Api/AuthController.php
  app/Models/User.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/sanctum.php
  database/migrations/2025_01_29_163918_create_personal_access_tokens_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  routes/api.php
Labels: area/database, area/structure, area/app/controllers, area/api, area/app/models, area/routes, area/authentication

#17 chore: add configuration files and issue templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/codecov.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/pr.yml
  .github/workflows/stale.yml
  phpunit.xml.dist
Labels: kind/feature, triage/accepted, kind/dependencies, area/tests

#16 feat(database): create migrations based on the legacy application with improvements
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_01_29_182058_create_photos_table.php
  database/migrations/2025_01_29_182631_create_contracts_table.php
  database/migrations/2025_01_29_182947_create_tree_types_table.php
  database/migrations/2025_01_29_183220_create_task_types_table.php
  database/migrations/2025_01_29_183333_create_element_types_table.php
  database/migrations/2025_01_29_183721_create_zones_table.php
  database/migrations/2025_01_29_183930_create_points_table.php
  database/migrations/2025_01_29_184050_create_elements_table.php
  database/migrations/2025_01_29_184338_create_incidents_table.php
  database/migrations/2025_01_29_184451_create_work_orders_table.php
  database/migrations/2025_01_29_184554_create_work_order_users_table.php
  database/migrations/2025_01_29_184704_create_work_order_blocks_table.php
  database/migrations/2025_01_29_185034_create_work_order_block_zones_table.php
  database/migrations/2025_01_29_185212_create_work_order_block_tasks_table.php
  database/migrations/2025_01_29_185332_create_work_reports_table.php
  database/migrations/2025_01_29_185546_create_resource_types_table.php
  database/migrations/2025_01_29_185609_create_resources_table.php
  database/migrations/2025_01_29_185643_create_work_report_resources_table.php
  database/migrations/2025_01_29_185721_create_sensors_table.php
Labels: area/database, kind/feature
