Repository Projecte-UrbanTree/application, pull requests merged in 2025-02, with the labels that each got.

#27 feat(models): add new models and relationships for contracts, elements, and work orders
  app/Models/Contract.php
  app/Models/Element.php
  app/Models/ElementType.php
  app/Models/Incidence.php
  app/Models/Point.php
  app/Models/Resource.php
  app/Models/ResourceType.php
  app/Models/Sensor.php
  app/Models/TaskType.php
  app/Models/TreeType.php
  app/Models/User.php
  app/Models/WorkOrder.php
  app/Models/WorkOrderBlock.php
  app/Models/WorkOrderBlockTask.php
  app/Models/WorkOrderBlockZone.php
  app/Models/WorkOrderUser.php
  app/Models/WorkReport.php
  app/Models/WorkReportResource.php
  app/Models/Zone.php
  database/migrations/2025_01_29_185212_create_work_order_block_tasks_table.php
Labels: area/database, kind/feature, area/models

#66 feat(seeders): add seeders for sensors, work orders, resources, and related entities
  database/seeders/ContractSeeder.php
  database/seeders/ElementSeeder.php
  database/seeders/ElementTypesSeeder.php
  database/seeders/IncidentSeeder.php
  database/seeders/PointSeeder.php
  database/seeders/ResourceSeeder.php
  database/seeders/ResourceTypeSeeder.php
  database/seeders/SensorSeeder.php
  database/seeders/TaskTypesSeeder.php
  database/seeders/TreeTypesSeeder.php
  database/seeders/UserSeeder.php
  database/seeders/WorkOrderBlockSeeder.php
  database/seeders/WorkOrderBlockTaskSeeder.php
  database/seeders/WorkOrderBlockZoneSeeder.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkOrderUserSeeder.php
  database/seeders/WorkReportResourceSeeder.php
  database/seeders/ZoneSeeder.php
Labels: area/database, kind/feature

#69 fix(models): correct relationship reference in WorkOrderBlockTask for task type
  app/Models/WorkOrderBlockTask.php
Labels: kind/bug, area/models

#77 feat: implement base structure of React
  package-lock.json
  package.json
  resources/css/app.css
  resources/images/background.svg
  resources/images/logo.png
  resources/ts/App.tsx
  resources/ts/api/auth.ts
  resources/ts/api/axiosClient.ts
  resources/ts/components/Login/Form.tsx
  resources/ts/contexts/AuthContext.tsx
  resources/ts/env.d.ts
  resources/ts/hooks/useAuth.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/layouts/AuthLayout.tsx
  resources/ts/middlewares/AdminProtectedRoute.tsx
  resources/ts/middlewares/UnauthenticatedRoute.tsx
  resources/ts/pages/Admin/Dashboard.tsx
  resources/ts/pages/Customer/Dashboard.tsx
  resources/ts/pages/Error/404.tsx
  resources/ts/pages/Login.tsx
  resources/ts/pages/Worker/Dashboard.tsx
  resources/ts/routes/AppRoutes.tsx
  resources/ts/types/auth.ts
  resources/ts/types/user.ts
  resources/views/application.blade.php
Labels: kind/feature, kind/design, kind/dependencies, area/javascript, area/views

#67 feat(landing): implement landing form data model, controller, and view
  app/Http/Controllers/LandingController.php
  app/Models/LandingForm.php
  database/migrations/2025_02_04_174010_create_landing_form_table.php
  database/seeders/ContractSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ElementSeeder.php
  database/seeders/ElementTypesSeeder.php
  database/seeders/IncidentSeeder.php
  database/seeders/PointSeeder.php
  database/seeders/ResourceSeeder.php
  database/seeders/ResourceTypeSeeder.php
  database/seeders/SensorSeeder.php
  database/seeders/TaskTypesSeeder.php
  database/seeders/TreeTypesSeeder.php
  database/seeders/UserSeeder.php
  database/seeders/WorkOrderBlockSeeder.php
  database/seeders/WorkOrderBlockTaskSeeder.php
  database/seeders/WorkOrderBlockZoneSeeder.php
  database/seeders/WorkOrderSeeder.php
  database/seeders/WorkOrderUserSeeder.php
  database/seeders/WorkReportResourceSeeder.php
  database/seeders/WorkReportSeeder.php
  database/seeders/ZoneSeeder.php
  lang/ca/pagination.php
  lang/ca/validation.php
  lang/es/pagination.php
  lang/es/passwords.php
  lang/es/validation.php
  package-lock.json
  package.json
  public/images/banner.jpg
  public/images/urbantree-map.jpg
  resources/css/app.css
  resources/views/landing.blade.php
  routes/web.php
  vite.config.ts
Labels: area/database, kind/feature, kind/design, kind/dependencies, area/routes, area/models, area/views, area/controllers

#86 refactor(env): update locale settings to Spanish and Catalan
  .env.example
Labels: kind/improvement

#100 refactor(seeder): rename 'username' to 'surname' in UserSeeder
  database/seeders/UserSeeder.php
Labels: area/database, kind/bug

#103 feat(auth): react authentication logic
  app/Http/Controllers/Api/AuthController.php
  bootstrap/app.php
  resources/ts/api/auth.ts
  resources/ts/api/axiosClient.ts
  resources/ts/components/Login/LoginForm.tsx
  resources/ts/contexts/AuthContext.tsx
  resources/ts/hooks/useAuth.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/middlewares/AdminProtectedRoute.tsx
  resources/ts/middlewares/UnauthenticatedRoute.tsx
  resources/ts/pages/Login.tsx
  resources/ts/routes/AppRoutes.tsx
Labels: kind/feature, area/javascript, area/controllers

#126 refactor: update react foundation
  app/Http/Controllers/Api/AuthController.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/ts/App.tsx
  resources/ts/api/axiosClient.ts
  resources/ts/components/Admin/Dashboard/Stats.tsx
  resources/ts/components/Admin/Dashboard/Welcome.tsx
  resources/ts/components/LangSelector.tsx
  resources/ts/components/Login/LoginForm.tsx
  resources/ts/components/Preloader.tsx
  resources/ts/config/env.d.ts
  resources/ts/config/i18n.ts
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/contexts/AuthContext.tsx
  resources/ts/contexts/ToastContext.tsx
  resources/ts/hooks/useAuth.ts
  resources/ts/hooks/useI18n.ts
  resources/ts/hooks/useToast.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/layouts/AuthLayout.tsx
  resources/ts/main.tsx
  resources/ts/pages/Admin/Dashboard.tsx
  resources/ts/routes/AppRoutes.tsx
  resources/views/application.blade.php
  vite.config.ts
Labels: kind/design, kind/dependencies, kind/improvement, area/javascript, area/views, area/controllers

#128 feat: add api middleware for roles and add dashboard stats
  app/Http/Middleware/RoleMiddleware.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/seeders/UserSeeder.php
  resources/ts/components/Admin/Dashboard/Stats.tsx
  resources/ts/components/Login/LoginForm.tsx
  resources/ts/contexts/AuthContext.tsx
  routes/api.php
Labels: area/database, kind/feature, area/routes, area/javascript

#129 refactor: improve react router and error page
  resources/ts/App.tsx
  resources/ts/AppRoutes.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/middlewares/UnauthenticatedRoute.tsx
  resources/ts/pages/Admin/Dashboard.tsx
  resources/ts/pages/Admin/Users.tsx
  resources/ts/pages/Error.tsx
  resources/ts/pages/Error/404.tsx
  resources/ts/routes/AdminRoutes.tsx
  resources/ts/routes/AppRoutes.tsx
  resources/ts/routes/AuthRoutes.tsx
  resources/ts/routes/routesConfig.ts
  resources/ts/types/auth.ts
  resources/ts/types/user.ts
Labels: kind/improvement, area/javascript

#131 feat: laravel langs
  app/Http/Controllers/LandingController.php
  app/Http/Controllers/LangController.php
  app/Http/Middleware/LanguageMiddleware.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  lang/ca.json
  lang/ca/landing.php
  lang/en/landing.php
  lang/es.json
  lang/es/landing.php
  resources/views/landing.blade.php
  routes/api.php
  routes/web.php
Labels: kind/feature, area/routes, area/views, area/controllers, area/i18n, area/providers

#134 refactor: sync sites langs
  app/Http/Controllers/LangController.php
  app/Http/Middleware/LanguageMiddleware.php
  app/Providers/AppServiceProvider.php
  package-lock.json
  package.json
  resources/ts/config/i18n.ts
  resources/ts/hooks/useI18n.ts
Labels: kind/dependencies, kind/improvement, area/javascript, area/controllers, area/providers

#135 refactor: adjust background color opacity for #app
  resources/css/app.css
Labels: kind/design, kind/improvement

#133 refactor: restore CSRF token validation for API middleware
  bootstrap/app.php
Labels: kind/bug

#138 refactor: make landing routes dynamic and update form handling
  app/Http/Controllers/LandingController.php
  resources/views/Landings/landing11.blade.php
  routes/web.php
Labels: area/routes, kind/improvement, area/views, area/controllers

#143 feat: add logo and flag images
  public/images/external-logos/1-Gobierno-Ministerio.png
  public/images/external-logos/2-PRTR.png
  public/images/external-logos/3-UE-NextGeneration.jpg
  public/images/external-logos/4-Institut Montsià.jpeg
  public/images/external-logos/5-La Malvesia.jpg
  public/images/external-logos/6-Projar.png
  public/images/flags/es-ct.svg
  public/images/flags/es.svg
  public/images/flags/us.svg
  public/images/logos/imagotype.png
  public/images/logos/isotype.png
  public/images/logos/logotype.png
  public/images/logos/nobg-imagotype.png
  public/images/logos/nobg-isotype.png
  public/images/logos/nobg-logotype.png
  public/images/logos/nobg-xs-isotype.png
  public/images/logos/xs-isotype.png
Labels: kind/feature

#145 refactor: landing image organization and paths
  app/Http/Controllers/LandingController.php
  public/images/external-logos/1-gobierno-spain-mefp.png
  public/images/external-logos/3-nextgenerationeu.jpg
  public/images/external-logos/4-insmontsia.jpeg
  public/images/external-logos/5-efalamalvesia.jpg
  public/images/landings/landing11/banner-ca.jpg
  public/images/landings/landing11/banner-en.jpg
  public/images/landings/landing11/banner-es.jpg
  public/images/landings/landing11/urbantree-map.jpg
  resources/views/landings/landing11.blade.php
Labels: kind/improvement, area/views, area/controllers

#140 feat: add landing 7
  lang/ca/landings/landing7.php
  lang/en/landings/landing7.php
  lang/es/landings/landing7.php
  public/images/landings/landing7/performance.png
  public/images/landings/landing7/screenshot.jpg
  public/images/landings/landing7/security.png
  resources/views/landings/landing7.blade.php
Labels: kind/feature, area/views, area/i18n

#147 feat: add landing 3
  lang/ca/landings/landing3.php
  lang/en/landings/landing3.php
  lang/es/landings/landing3.php
  public/images/landings/landing3/hero-bg.jpg
  public/images/landings/landing3/urban_tree.png
  resources/views/landings/landing3.blade.php
Labels: kind/feature, area/views, area/i18n

#150 feat: add landing 4
  lang/ca/landings/landing4.php
  lang/en/landings/landing4.php
  lang/es/landings/landing4.php
  public/images/landings/landing4/bg.jpg
  public/images/landings/landing4/bg_herosection.jpg
  public/images/landings/landing4/bg_herosection2.jpg
  resources/views/landings/landing4.blade.php
Labels: kind/feature, area/views, area/i18n

#152 feat: add landing 9
  lang/ca/landings/landing9.php
  lang/en/landings/landing9.php
  lang/es/landings/landing9.php
  public/images/landings/landing9/project-app.png
  resources/views/landings/landing9.blade.php
Labels: kind/feature, area/views, area/i18n

#153 feat: add landing 1
  lang/ca/landings/landing1.php
  lang/en/landings/landing1.php
  lang/es/landings/landing1.php
  resources/views/landings/landing1.blade.php
Labels: kind/feature, area/views, area/i18n

#144 refactor: react routes design
  app/Http/Controllers/Api/Admin/ContractController.php
  app/Http/Controllers/Api/Admin/ElementTypeController.php
  app/Http/Controllers/Api/Admin/ResourceController.php
  app/Http/Controllers/Api/Admin/ResourceTypeController.php
  app/Http/Controllers/Api/Admin/StatsController.php
  app/Http/Controllers/Api/Admin/TaskTypeController.php
  app/Http/Controllers/Api/Admin/TreeTypeController.php
  app/Http/Controllers/Api/Admin/UserController.php
  app/Http/Controllers/Api/Admin/WorkOrderController.php
  app/Http/Controllers/Api/AuthController.php
  eslint.config.js
  package-lock.json
  package.json
  public/favicon.ico
  resources/css/app.css
  resources/images/background.svg
  resources/ts/AppRoutes.tsx
  resources/ts/components/Admin/CrudPanel.tsx
  resources/ts/components/Admin/Dashboard/Stats.tsx
  resources/ts/components/Admin/Dashboard/Welcome.tsx
  resources/ts/components/LangSelector.tsx
  resources/ts/components/Login/LoginForm.tsx
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/d.ts
  resources/ts/env.d.ts
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Inventory.tsx
  resources/ts/pages/Admin/Resources.tsx
  resources/ts/pages/Admin/Settings/Contracts.tsx
  resources/ts/pages/Admin/Settings/ElementTypes.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes.tsx
  resources/ts/pages/Admin/Settings/TaskTypes.tsx
  resources/ts/pages/Admin/Settings/TreeTypes.tsx
  resources/ts/pages/Admin/Settings/Users.tsx
  resources/ts/pages/Admin/Stats.tsx
  resources/ts/pages/Admin/Users.tsx
  resources/ts/pages/Admin/WorkOrders.tsx
  resources/ts/pages/Admin/Workers.tsx
  resources/ts/pages/Error.tsx
  resources/ts/pages/Logout.tsx
  resources/ts/routes/AdminRoutes.tsx
  resources/ts/routes/AuthRoutes.tsx
  resources/ts/routes/routesConfig.ts
  routes/api.php
Labels: kind/design, kind/dependencies, area/routes, kind/improvement, area/javascript, area/controllers

#154 fix: update video URL for Urban Tree introduction on landing 9 (catalan)
  lang/ca/landings/landing9.php
Labels: kind/improvement, area/i18n

#155 fix: add vite to landing 1
  resources/views/landings/landing1.blade.php
Labels: kind/bug, area/views

#185 Revert "refactor: pages structure"
  .env.example
  resources/ts/AppRoutes.tsx
  resources/ts/components/admin/CrudPanel.tsx
  resources/ts/components/admin/dashboard/Stats.tsx
  resources/ts/components/admin/dashboard/Welcome.tsx
  resources/ts/components/login/LoginForm.tsx
  resources/ts/pages/Admin/Dashboard.tsx
  resources/ts/pages/Admin/Resources.tsx
  resources/ts/pages/Admin/Settings/Contracts.tsx
  resources/ts/pages/Admin/Settings/ElementTypes.tsx
  resources/ts/pages/Admin/Settings/ResourceTypes.tsx
  resources/ts/pages/Admin/Settings/TaskTypes.tsx
  resources/ts/pages/Admin/Settings/TreeTypes.tsx
  resources/ts/pages/Admin/Settings/Users.tsx
  resources/ts/pages/Admin/WorkOrders.tsx
  resources/ts/pages/Admin/Workers.tsx
  resources/ts/pages/Admin/resources/index.tsx
  resources/ts/pages/Admin/settings/contracts/index.tsx
  resources/ts/pages/Admin/settings/tree-types/index.tsx
  resources/ts/pages/Login.tsx
  resources/ts/pages/admin/dashboard.tsx
  resources/ts/pages/admin/inventory.tsx
  resources/ts/pages/admin/resources/index.tsx
  resources/ts/pages/admin/settings/contracts/index.tsx
  resources/ts/pages/admin/settings/tree-types/index.tsx
  resources/ts/pages/admin/settings/users/index.tsx
  resources/ts/pages/admin/stats.tsx
  resources/ts/pages/admin/work-orders/index.tsx
  resources/ts/pages/admin/workers/index.tsx
  resources/ts/pages/customer/dashboard.tsx
  resources/ts/pages/error.tsx
  resources/ts/pages/login.tsx
  resources/ts/pages/logout.tsx
  resources/ts/pages/worker/dashboard.tsx
  resources/ts/routes/AdminRoutes.tsx
  resources/ts/routes/AuthRoutes.tsx
  resources/views/landings/landing6.blade.php
Labels: area/javascript, area/views

#188 feat: Implement User CRUD, Controller, and Translations
  app/Http/Controllers/Api/Admin/UserController.php
  app/Models/User.php
  composer.json
  composer.lock
  lang/ca/landings/landing1.php
  lang/ca/landings/landing10.php
  lang/ca/landings/landing3.php
  lang/en/landings/landing1.php
  lang/en/landings/landing10.php
  lang/en/landings/landing3.php
  lang/en/landings/landing6.php
  lang/en/landings/landing7.php
  lang/es/landings/landing1.php
  lang/es/landings/landing10.php
  lang/es/landings/landing3.php
  lang/es/landings/landing6.php
  lang/es/landings/landing7.php
  package-lock.json
  package.json
  resources/ts/config/i18n/ca.json
  resources/ts/config/i18n/en.json
  resources/ts/config/i18n/es.json
  resources/ts/layouts/AdminLayout.tsx
  resources/ts/pages/Admin/Settings/Contracts/Contracts.tsx
  resources/ts/pages/Admin/Settings/Contracts/Create.tsx
  resources/ts/pages/Admin/Settings/Contracts/Edit.tsx
  resources/ts/pages/Admin/Settings/Element Types/Create.tsx
  resources/ts/pages/Admin/Settings/Element Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Element Types/ElementTypes.tsx
  resources/ts/pages/Admin/Settings/Resource Types/Create.tsx
  resources/ts/pages/Admin/Settings/Resource Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Resource Types/ResourceTypes.tsx
  resources/ts/pages/Admin/Settings/Task Types/Create.tsx
  resources/ts/pages/Admin/Settings/Task Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Task Types/TaskTypes.tsx
  resources/ts/pages/Admin/Settings/Tree Types/Create.tsx
  resources/ts/pages/Admin/Settings/Tree Types/Edit.tsx
  resources/ts/pages/Admin/Settings/Tree Types/TreeTypes.tsx
  resources/ts/pages/Admin/Settings/Users.tsx
  resources/ts/pages/Admin/Settings/Users/Create.tsx
  resources/ts/pages/Admin/Settings/Users/Edit.tsx
  resources/ts/pages/Admin/Settings/Users/Users.tsx
  resources/ts/routes/AdminRoutes.tsx
  routes/api.php
Labels: kind/feature, kind/dependencies, area/routes, area/javascript, area/models, area/controllers, area/i18n
